.about .main-menu {
    background-color: #fff;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.about .main-menu a{
    color: #212529;
}
.about .main-menu a:hover {
    color: #f4623a;
}
.about .main-menu a.current {
    color: #f4623a;
}

.about .timeline .timeline-detail > li .timeline-panel {
    padding: 0 20px 20px;
    float: left;
    width: 41%;
    text-align: right;
    position: relative; 
}
.about .timeline .timeline-detail{
    list-style: none;
}
.about .timeline .timeline-detail>li .timeline-img{
    width: 150px;
    height: 150px;
    margin-left: -75px;
    position: absolute;
    z-index: 100;
    left: 50%;
    text-align: center;
    color: white;
    border: 7px solid #e9ecef;
    border-radius: 100%;
    background-color: #fed136;
}
.about .timeline .timeline-detail>li .timeline-img img{
    border-radius: 50%;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}
.timeline li {
    display: list-item;
    min-height: 150px;
    position: relative;
    margin-bottom: 100px;
}
.about .timeline .timeline-detail > li.reverse .timeline-panel {
    padding: 0 20px 20px;
    float: right;
    text-align: left;
    position: relative;
}
.timeline {
    max-width: 960px;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
}
.timeline ul{
   padding: 0;
   margin: 0;
}
.timeline li:before {
    display: table;
    content: " ";
}
.timeline li:after {
    display: table;
    content: " ";
}
.timeline li:after {
    clear: both;
}
.about {
    width: 100%;
    min-height: 40rem;
    padding-top: 0;
    padding-bottom: 3.5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
.timeline-detail {
    position: relative;
}
.timeline-detail:before {
    left: 50%;
    position: absolute;
    top: 0;
    bottom: 200px;
    width: 3px;
    margin-left: -1.5px;
    content: "";
    background-color: #e9ecef;
}
.timeline>p {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}
.timeline h4 {
    margin-top: 0;
    margin-bottom: 8px;
} 
.timeline-detail p {
    margin: 0;
}




